@media screen and (max-width: 640px) {

    .menu {
    
    background:rgb(235, 22, 6); ;
    
    }
    
    }
    
     
    
    @media screen and (min-width: 640px) and (max-width: 1280px) {
    
    .menu { background: red;
    
    }
    
    }
    
     
    
    @media screen and (min-width: 1280px) {
    
    .menu { background: rgb(235, 22, 6);
    
    }
    
    }