* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
#principal {
    width: 100%;
    background-color: #e51414;
    min-height: 100vh;
    padding: 00.5em;
}

nav ul {
    padding: 10px;
    list-style-type: none;
    display: inline-block;
}

nav ul li {
    padding: 5px;
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
}

header {
    min-height: 10vh;
    display: inline-block;
    background: #e51414;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    font-family: 'Catamaran', sans-serif;
    font-size: 5rem;
}

nav {
    height: 10vh;
    background: #141414;
    border-radius: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

main {
    position: relative;
    min-height: 50vh;
    background: rgb(15, 15, 15);
    border-radius: 1em;
   
}
    .mainPortada {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        background: rgb(12, 12, 12);
        border-radius: 0.5em;
        padding: 00.5em;
               
    }
    section{
        min-height:95%;
        width: 70%;
        background-color: red;

    }

    aside {
        min-height: 95%;
        width: 28%;
        background: red;
        border-radius: 0.5em;
        border-color: seashell;
        margin:1em;
        float: right;

    }
    footer{
        min-height: 15vh;
        background: black;
        border-radius: 0.5em;
        margin: 0.5em;
    }
    
    footer a {
        color: white;
        text-decoration: none;
        display: inline-block;
    }
   

